#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.container {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding: 6rem;
  align-items: center;
  background-color: #191919;
  border-radius: 8px;
  width: max-content;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.buttonContainer {
  display: flex;
  gap: 2rem;
}

.button:first-child {
  background-color: #d9d9d9;
  border: 1px solid #d9d9d9;
  color: #242424;
}

.button:first-child:hover {
  background-color: #242424;
  border: 1px solid #d9d9d9;
  color: #d9d9d9;
}

.button:last-child {
  background-color: #242424;
  border: 1px solid #d9d9d9;
}

.button:last-child:hover {
  background-color: #d9d9d9;
  color: #242424;
}

.res {
  margin-top: 2rem;
  font-size: 2rem;
}